h1 {
    color: rgba(0, 0, 0, 0.281);
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blue;
    border: 30px groove red;
    border-bottom: 30px ridge red;
    border-right: 30px ridge red;
    border-radius: 1em;
    margin: 20px;
    margin-right: 150px;
    margin-left: 150px;
}



h2 {
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}


pre {
    background-color: green;
    padding-bottom: 20px;
}


.wrong01 {
    text-decoration: line-through;
}