.barevny {
    height: 50px;
    width: 100px;
    border: 5px dashed orange;
    background-color: yellow;
}







#tlacitko {
    margin-top: 20px;
    background-color: darkblue;
    color: white
}



.odstavec {
    background-color: rgb(rgb(65, 13, 13));
    border: 3px dotted brown
}




#odstavec {
    background-color: red;
}





